
/* Sidebar slider */
.result-slider {
    background-color: #c8c8c8;
    border-bottom: solid #333333 2px;
    border-top: solid #333333 2px;
    height: 1px;
    left: 4px;
    padding: 3px;
    position: absolute;
    right: 0;
    z-index: 20;
}

    .result-slider:hover {
        cursor: ns-resize;
        border-top: solid #fff 2px;
        border-bottom: solid #fff 2px;
    }

        .result-slider:hover div {
            background-color: #fff;
        }

    .result-slider div {
        background-color: #323232;
        height: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3px;
        width: 56px;
    }
