/* About Modal */

#about-modal .modal-content .modal-body tbody tr {
  border-top: none;
}

  #about-modal .modal-content .modal-body tbody tr.dependency-versions-section {
    background-color: #000000;
  }

  #about-modal .modal-content .modal-body tbody tr td {
    border-top: none;
    padding-bottom: 0;
    padding-top: 0;
  }

    #about-modal .modal-content .modal-body tbody tr td:first-child {
      width: 25px;
    }
