html,
body {
    background-color: #c8c8c8;
    height: 100%;
}

body {
    -webkit-box-pack: center; /* csslint allow: compatible-vendor-prefixes */
    color: #fff;
    justify-content: center;
    text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
}

.modal-content {
    background-color: #333333;
}

.modal-header .close {
    color: #ffffff;
}

/* Links */
a,
a:focus,
a:hover {
    color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
    color: #333;
    text-shadow: none; /* Prevent inheritance from `body` */
    background-color: #fff;
    border: .05rem solid #fff;
}

.animating {
    transition: all ease-out .5s;
}

.hidden {
    display: none;
}

/* Bootstrap overrides */
hr {
    border-top: 1px solid #e9ecef;
}

/** Loader **/
.loader-container {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: none;
    position: absolute;
    padding: 200px;
    background-color: rgba(0, 0, 0, 0.9); /* csslint allow: fallback-colors */
    z-index: 2000;
}

    .loader-container .loader {
        animation: spin .75s linear infinite;
        border: 16px solid #c8c8c8;
        border-radius: 50%;
        border-top: 16px solid #1e28ad;
        height: 120px;
        margin: 0 auto;
        width: 120px;
    }

    .loader-container .msg {
        font-size: 24px;
        text-align: center;
    }

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.CodeMirror {
    height: auto;
}
