/* Content */
.content {
    bottom: 0;
    left: 0;
    margin-left: 306px;
    position: absolute;
    right: 0;
    top: 56px;
}

    .content.full {
        /* Overlay sidebar purposefully so dragging is not possible */
        margin-left: 0 !important; /* csslint allow: important */
    }

    .content > div {
        height: 100%;
        padding-left: 4px;
        padding-right: 0;
    }

    .content .content-toolbar {
        flex-wrap: nowrap;
    }

    .content .instance-tabs {
        flex-wrap: nowrap;
        white-space: nowrap;
    }

        .content .instance-tabs .nav-link:not(.active) {
            background-color: #747474;
        }

            .content .instance-tabs .nav-link:not(.active):not(:hover) {
                border-color: #949494 #949494 #848484;
            }

        .content .instance-tabs .nav-link.plus-tab:not(.active) {
            background-color: #a4a4a4;
        }

    .content .instance-containers {
        height: calc(100% - 88px);
    }


        .content .instance-containers .instance {
            height: 100%;
        }

            /* editor */

            .content .instance-containers .instance .editor {
                z-index: 10;
                height: 300px;
            }

/* CodeMirror overrides */
.CodeMirror-hscrollbar {
    overflow-x: hidden;
}

.CodeMirror-vscrollbar {
    overflow-y: hidden;
}

.CodeMirror:hover .CodeMirror-hscrollbar {
    overflow-x: scroll;
}

.CodeMirror:hover .CodeMirror-vscrollbar {
    overflow-y: scroll;
}

.CodeMirror-scrollbar-filler {
    background-color: rgba(0, 0, 0, .2);
}
