/// <reference path="variables.less" />

// Content
.content {
  bottom: 0;
  display: flex;
  flex-flow: column;
  left: 0;
  margin-left: 306px;
  position: absolute;
  right: 0;
  top: 56px;

  &.full {
    // Overlay sidebar purposefully so dragging is not possible
    margin-left: 0 !important;
  }

  & > div,
  & > ul {
    overflow-y: hidden;
    margin-left: 4px;
  }

  .content-toolbar {
    flex-wrap: nowrap;
  }

  .instance-tabs {
    flex-wrap: nowrap;
    font-size: 0.85em;
    white-space: nowrap;

    .instance-tab {
      &:not(.executing) {
        .spinner {
          display: none;
        }
      }

      &:not(.is-dirty) {
        .star {
          display: none;
        }
      }

      .spinner {
        // Fix for icon wobble
        border-right: .065em solid transparent;
        box-sizing: content-box;
        font-size: 14px;
        height: 1em;
        width: 1em;
      }

      .close-instance {
        margin-left: 4px;
      }

      .nav-link.active {
        background-color: @dark-0;
        color: @light-0;
      }

      .nav-link:not(.active) {
        background-color: @dark-4;

        &:not(:hover) {
          border-color: @light-3 @light-3 @light-4;
        }
      }
    }

    .nav-link.plus-tab:not(.active) {
      background-color: @dark-1;
    }
  }

  .instance-container {
    flex: 1 1 auto;

    .instance {
      position: relative;
      // Editor
      .editor {
        z-index: 10;
        height: 300px;
      }
    }
  }
  // Statusbar
  #content-statusbar {
    background-color: @dark-0;
    height: 30px;

    .status-text {
      display: block;
    }
  }
}
