
.content .result {
    bottom: 0;
    color: #000;
    left: 0;
    margin-top: 406px;
    margin-left: 4px;
    overflow: auto;
    position: absolute;
    right: 0;
    top: 0;
}

    /** Table result set **/

    .content .result table {
        white-space: nowrap;
    }

    .content .result .dbname {
        padding: 2px 8px;
        background-color: #141414;
        color: #fff;
    }

    .content .result .result-text {
        border: 1px solid #141414;
        padding: 2px 8px;
    }

    .content .result .result-set {
        overflow: auto;
    }

        .content .result .result-set .row-number {
            background-color: #242424;
            color: #fff;
        }

        .content .result .result-set tbody tr:hover {
            background-color: rgba(0, 196, 255, 0.5) /* csslint allow: fallback-colors */
        }

        .content .result .result-set tbody tr td {
            padding: 0 2px;
        }

            .content .result .result-set tbody tr td.null {
                background-color: #ffeca2;
                font-style: italic;
            }

        .content .result .result-set tbody tr:hover td.null {
            background-color: rgba(152, 245, 255, 0.80); /* csslint allow: fallback-colors */
        }
