/* Content */
.content {
    bottom: 0;
    left: 0;
    margin-left: 306px;
    position: absolute;
    right: 0;
    top: 56px;
}

    .content.full {
        /* Overlay sidebar purposefully so dragging is not possible */
        margin-left: 0 !important; /* csslint allow: important */
    }

    .content > div {
        height: 100%;
        padding-left: 4px;
        padding-right: 0;
    }

    .content .content-toolbar {
        flex-wrap: nowrap;
    }

    .content .instance-containers {
        height: calc(100% - 88px);
    }

        .content .instance-containers .instance {
            height: 100%;
        }

            /* editor */

            .content .instance-containers .instance .editor {
                z-index: 10;
                height: 300px;
            }
