
/* Sidebar slider */
.instance-slider {
    background-color: #c8c8c8;
    border-bottom: solid #242424 2px;
    border-top: solid #242424 2px;
    height: 1px;
    left: 4px;
    padding: 3px;
    position: absolute;
    right: 0;
    z-index: 20;
}

    .instance-slider:hover {
        cursor: ns-resize;
        border-top: solid #545454 2px;
        border-bottom: solid #545454 2px;
    }

        .instance-slider:hover div {
            background-color: #d41111;
        }

    .instance-slider div {
        background-color: #242424;
        height: 6px;
        margin-left: auto;
        margin-right: auto;
        margin-top: -3px;
        width: 56px;
    }
