/* Settings Modal */

#settings-modal {
    .modal-content .modal-body tbody tr td {
        border-top: none;
        width: 50%;
    }

    .log-flags {
        border: 1px solid rgba(128, 128, 128, 0.8);
        border-radius: .3rem;
    }
}
