/// <reference path="app.less" />

// Sidebar
.sidebar {
  background-color: @dark-1;
  bottom: 0;
  left: 0;
  margin: 0;
  position: absolute;
  top: 56px;
  white-space: nowrap;
  width: 300px;
  display: flex;
  flex-flow: column;

  &.collapsed {
    margin-left: -306px;
  }

  .sidebar-header {
    overflow: hidden;
  }

  // Toolbar
  .sidebar-toolbar {
    flex-wrap: nowrap;
  }
  // Connection select
  .select-connection {
    margin-bottom: 8px;
  }
  // List filter
  #db-list-filter {
    margin-bottom: 4px;

    #db-list-filter-input {
      border-radius: .2rem;
    }

    #db-list-filter-clear {
      display: none;

      button {
        color: @accent-0;
      }
    }

    &.has-search-term {
      #db-list-filter-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }

      #db-list-filter-clear {
        display: flex;
      }
    }
  }
  // Content
  #content {
    flex: 1 1 auto;

    .db-lst {
      display: inline-table;
      list-style: none;
      min-width: 100%;
      padding: 0;

      &.show-selected .db-lst-item:not(.active) {
        display: none;
      }

      &.show-unselected .db-lst-item.active {
        display: none;
      }

      .db-lst-item {
        padding: 0 4px;

        &:hover,
        &:focus,
        &:active,
        &.context-menu-active {
          background-color: @text-hover;
        }

        .custom-control-label {
          width: 100%;
        }
      }
    }
  }
  // Statusbar
  #sidebar-statusbar {
    background-color: @dark-0;
    height: 30px;

    .status-text {
      display: block;
    }
  }
}
