<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bootstrap" version="4.0.0" targetFramework="net452" />
  <package id="cef.redist.x64" version="3.3239.1723" targetFramework="net452" />
  <package id="cef.redist.x86" version="3.3239.1723" targetFramework="net452" />
  <package id="CefSharp.Common" version="63.0.3" targetFramework="net452" />
  <package id="CefSharp.WinForms" version="63.0.3" targetFramework="net452" />
  <package id="CodeMirror" version="2.37" targetFramework="net452" />
  <package id="FontAwesome" version="4.7.0" targetFramework="net452" />
  <package id="jQuery" version="3.3.1" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.12.1" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net452" />
  <package id="popper.js" version="1.14.1" targetFramework="net452" />
</packages>